.page-wrapper{
    min-height: 100vh;
}

.navbar-brand-image{
    height: auto !important;
    width: 100% !important;
}

.antialiased{
    background-color: #ffffff !important;
}

.navbar-vertical{
    border-right: 1px solid rgba(32,107,196,.06);
    background-color: #f4f6fa !important;
}

.navbar .navbar-nav .active{
    text-decoration: none;
    background-color: rgba(32,107,196,.06);
}
.navbar .navbar-nav .dropdown-active{
    text-decoration: none;
    background-color: rgba(0, 0, 0,.06);
}
.navbar .navbar-nav .active .nav-link .nav-link-title, .nav-link-title:active{
    color: #ffcc29 !important;
}
.navbar .navbar-nav .nav-link:hover{
    color: inherit;
    background-color: rgba(101,109,119,.06);
}

#period{
    -webkit-appearance: none;
    background: #F8F8F8;
    border-radius: 10px;
    border: 1px solid #000;
    outline: none !important;
    color: #000;
    background: #ffffff;
    font-weight: 500;
    padding: 7px 10px;
    padding-right: 2.5rem;
    min-width: 230px;
}

.daterangepicker {
    color: inherit;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ddd;
    max-width: none;
    padding: 0;
    margin-top: 7px;
    z-index: 3001;
    font-family: arial;
    font-size: 15px;
    line-height: 1em;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
    background: #000;
    color: #fff;
    border-radius: 50%;
}

.daterangepicker .drp-buttons .btn {
    background: #000;
    color: #fff;
}


.daterangepicker .drp-buttons .cancelBtn {
    background: unset !important;
    color: #000;
    border: none !important;
}

.navbar-dark {
    background-color: #00af91 !important;
    font-size: 14pt;
}

.navbar .navbar-nav .active .nav-link .nav-link-title, .nav-link-title:active {
    color: #ffffff !important;
}

.navbar-vertical.navbar-expand-lg .navbar-brand {
    padding: 2.3rem 0 !important;
}

svg {
    margin: 0 !important;
}

.invalid-feedback {
    display: block !important;
}